# Flutter/Dart
.dart_tool/
.packages
pubspec.lock
.env

# Build outputs
build/
ios/Pods/
android/.gradle/
android/app/build/

# IDE settings
.idea/
.vscode/

# Plugins
.flutter-plugins
.flutter-plugins-dependencies
